<div class="container">
    <div class="row custom-wrapper">
        <div class="col-md-12">

            <!-- Form starts -->
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <!-- Gender -->
                <div class="group-gap">
                    <h5 class="mb-3">Multiple user Create....</h5>
                    <div class="d-block my-3">
                        <div>
                        <div class="custom-control custom-radio">
                            <input id="male" type="radio" class="custom-control-input" value="male" name="gender"  
                                formControlName="gender">
                            <label class="custom-control-label" for="male">Create Single user</label>


                        </div>

                        <div class="custom-control custom-radio">
                            <input id="female" type="radio" class="custom-control-input" value="female" name="gender" 
                                formControlName="gender">
                            <label class="custom-control-label" for="female">Create Multiple user</label>
                        </div> 
                        
                      
                        </div>
   
                        <div class="">
                                <label class="" for="female">Enter fields</label>
                                <input  type="number" class=""  name="gender" 
                                formControlName="fields"  minlength="1" maxlength="5">
                                <div *ngIf="registrationForm.controls.fields.touched && registrationForm.controls.fields.pristine ">
                                        Please Enter Labels here...
                                    </div>
                        </div>

                        <div class="">
                                <label class="" for="female">Enter Labels</label>
                            <textarea id="female" type="text" class="" name="gender"
                                formControlName="labels" minlength="1" maxlength="50" (keyup)="OnkeyChange()">{{Message}}</textarea>
                            <div *ngIf="registrationForm.controls.labels.touched &&  registrationForm.controls.labels.pristine">
                                Please Enter Labels here...
                            </div>
                            
                        </div>
   
                    </div>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-danger btn-lg btn-block"   [disabled]="!registrationForm.valid">Submit</button>
            </form><!-- Form ends -->





<!-- 
            <div *ngIf="itemList.button">

                    <div *ngFor="let item of itemList; let i=index">
                            <div>
                                <input  type="text"  
                             placeholder="Enter New User Name Here"
                              ({ngModel})="itemList.button" value="person {{i+1}}" class="age" >
                              <button type="button"><span>&#10003;</span></button>
                            </div>
                          <label>{{fields[i].label}}</label>
                        <input *ngIf="!itemList.button" type="text" class="form-control" ([ngModel])="itemList[i].address" >
                        </div>
                        <div >
                         <button type="button" (click)="addros()" class="fa fa-plus"> + AddRows</button>
                        </div>

            </div> -->




        </div>
    </div>
</div>